body{
  margin: 0px;
  padding: 0px;
  background-color: green;
}
.container {
  display: flex;
  flex-wrap:wrap;
  margin: 0px 30px;
}
article {
  width:50%;
  position: relative;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
}
img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
button {
  float: right;
  background-color: red;
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
}
.read_more {
  transition: transform 2s, color 3s;
  float: right;
}
article:hover .read_more{
transform: scale(1.5,1.5) rotate(360deg);
color : blue;
}
